<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
				{% comment %}
                <h3>Software de todos para todos.</h3>
				{% endcomment %}
                <h1>CoruñaDevelopers</h1>
                <h3>Un espacio abierto y colaborativo para el desarrollo de software en A Coruña.</h5>
				{% comment %}
                <h5>Nos vemos el primer y tercer viernes de cada mes <a target="_blank" href="https://www.google.es/maps/place/MANS+-+Fundaci%C3%B3n+Paideia/@43.327173,-8.436533,15z/data=!4m2!3m1!1s0x0:0x11fb1993f9349f3b?sa=X&ved=0ahUKEwi0r_XhxIvLAhVGOhQKHdOKBwAQ_BIIaDAK">aquí</a>.</h5>
				{% endcomment %}
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/home.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->